{
  "presets": [
    ["@babel/env", { "modules": false }],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread"
  ]
}
